.ym-wrapper {
  max-width: 80em;
  margin: 0 auto;
}

.ym-wbox {
  padding: 1.5em;
}

body > header,
body > nav,
body > #main,
body > footer {
  /*min-width: 760px;*/
}

header {
  background: black;
  color: white;
}

nav {
  background: #222;
}

footer {
  background: #eee;
  color: #444;
}

/* /score elements */
#playerlist {
  margin: 0;
  padding: 0;
  width: 60%;
}
